/*
Name: Simon Kemmere
Student number: 10798250
Course: Programmeerproject
Description: css file containing layout changes for index.html
*/

/* style map */
#map {
  float: left;
  margin-left: auto;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
}

/* creates a small triangle extender for the tooltip */
.map-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* style northward tooltips differently */
.map-tip.n:after {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* create borders between countries */
.countries {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
}
